### Fundamental types

### Integers

Integer literals are created by any number without a decimal or complex component.

In [1]:
#For documentation purpose
a=1
b="Apple"
c=4.5
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<type 'int'>
<type 'str'>
<type 'float'>
<type 'bool'>

In [2]:
# integers
x = 1
x = "Apple"
print(x)
y=5
print(y)
y=7
print(y)

Apple
5
7

In [3]:
#Implicit Printing
print(5,2,"Hello",4)
print("That ends print demo for now")

(5, 2, 'Hello', 4)
That ends print demo for now

### Floats

Float literals can be created by adding a decimal component to a number.

In [4]:
# No concept of declaring variable types in Python
x = 1.0
y = 5.7
y=3
y=5.6
print(x)
print(y)

1.0
5.6

### Boolean

Boolean can be defined by typing True/False without quotes

In [5]:
# Case Sensitive. True is different from TRUE. Dynamic Typing
b1 = True
print(b1)
b2 = False
b1 = 6
print(b1)

True
6

### Strings

String literals can be defined with any of single quotes ('), double quotes (") or triple quotes (''' or """). All give the same result with two important differences.

If you quote with single quotes, you do not have to escape double quotes and vice-versa.
If you quote with triple quotes, your string can span multiple lines.

In [6]:
a="Test"
b=5
print(type(b))
print(type(a))

<type 'int'>
<type 'str'>

In [7]:
# string
name1 = 'your name'
print(type(name1))
print(name1)
name2 = "He's coming to the party"
print(name2)
name3 = '''XNews quotes : "He's coming to the party"'''
print(name3)

<type 'str'>
your name
He's coming to the party
XNews quotes : "He's coming to the party"

### Variables

#### Definining

A variable in Python is defined through assignment. There is no concept of declaring a variable outside of that assignment.

In [8]:
tenth = 10
tenth

10

#### Dynamic Typing

In Python, while the value that a variable points to has a type, the variable itself has no strict type in its definition. You can re-use the same variable to point to an object of a different type. It may be helpful to think of variables as "labels" associated with objects.

In [9]:
ten = 10
ten

10

In [10]:
ten = 'ten'
ten

'ten'

#### Strong Typing

While Python allows you to be very flexible with your types, you must still be aware of what those types are. Certain operations will require certain types as arguments.

In [12]:
print('Day ' + str(1))

Day 1

In [13]:
"Hello" + "World"

'HelloWorld'

## Simple Expressions

In [14]:
True and False

False

In [15]:
True or False

True

In [16]:
not True

False

In [17]:
not False

True

In [18]:
True is True

True

In [19]:
True is False

False

In [20]:
'a' is 'a'

True

In [21]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100 * 1.1 ** 7)

10
0
15
5
16
4
194.87171

## Branching (if / elif / else)

Python provides the if statement to allow branching based on conditions. Multiple elif checks can also be performed followed by an optional else clause. The if statement can be used with any evaluation of truthiness.

In [22]:
i = 3
if i < 3:
    print('less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more')

less than 5

Each line of code in a certain block level must be indented equally and indented more than the surrounding scope. The standard (defined in PEP-8) is to use 4 spaces for each level of block indentation. Statements preceding blocks generally end with a colon (:).

Because there are no semi-colons or other end-of-line indicators in Python, breaking lines of code requires either a continuation character (\ as the last char) or for the break to occur inside an unfinished structure (such as open parentheses).

### Lists

The first container type that we will look at is the list. A list represents an ordered, mutable collection of objects. You can mix and match any type of object in a list, add to it and remove from it at will.

Creating Empty Lists. To create an empty list, you can use empty square brackets or use the list() function with no arguments.

In [23]:
#Lists are the most high level types in Python
l = []
l

[]

In [24]:
l = list()
l

[]

In [25]:
l = ['a', 'b', 'c']
l

['a', 'b', 'c']

In [26]:
l = ['a',6]
l

['a', 6]

In [27]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [28]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<type 'list'>

A Python string is also a sequence of characters and can be treated as an iterable over those characters. Combined with the list() function, a new list of the characters can easily be generated.

In [29]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

Adding. You can append to a list very easily (add to the end) or insert at an arbitrary index.

In [30]:
l = []
l.append('b')
l.append('c')
l.insert(1, 56)
l

['b', 56, 'c']

## Printing a String

We can automatically display the output strings using Jupyter notebook with just a string in a cell. But,the correct way to display strings in your output is by using a print function.

In [31]:
# We can simply declare a string
'Hello World'

'Hello World'

In [32]:
# note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

In Python 2, the output of the below code snippet is displayed using "print" statement as shown in the below syntax but the same syntax will throw error in Python 3.

## String Basics

In Strings, the length of the string can be found out by using a function called len().

In [33]:
len('Hello World')

11

## String Indexing
We know strings are a sequence, which means Python can use indexes to call all the sequence parts. Let's learn how String Indexing works.
•	We use brackets [] after an object to call its index. 
•	We should also note that indexing starts at 0 for Python. 
Now, Let's create a new object called s and the walk through a few examples of indexing.

In [34]:
# Assign s as a string
s = 'Hello World'

In [35]:
#Check
s

'Hello World'

In [36]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [37]:
# Show first element (in this case a letter)
s[0]

'H'

In [38]:
s[1]

'e'

In [39]:
s[2]

'l'

We can use a : to perform *slicing* which grabs everything up to a designated point. For example:

In [40]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [41]:
# Note that there is no change to the original s
s

'Hello World'

In [42]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [43]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [44]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [45]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

## String Properties

Immutability is one the finest string property whichh is created once and the elements within it cannot be changed or replaced.

In [46]:
s

'Hello World'

We can concatenate strings

In [47]:
s

'Hello World'

In [48]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [49]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [50]:
print(s)

Hello World concatenate me!

In [51]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [52]:
letter = 'z'

In [53]:
letter*10

'zzzzzzzzzz'

## Basic Built-in String methods

In Python, Objects have built-in methods which means these methods are functions present inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

Methods can be called with a period followed by the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments which are passed into the method. Right now, it is not necessary to make 100% sense but going forward we will create our own objects and functions. 

Here are some examples of built-in methods in strings:

In [54]:
s

'Hello World concatenate me!'

In [55]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [56]:
# Lower case
s.lower()

'hello world concatenate me!'

In [57]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [58]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

## Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements.

In [59]:
print('Insert another string with curly brackets: {}'.format('The inserted string'))
print('My first name is {0}. Last name is {1}'.format('Divya','Shree'))

Insert another string with curly brackets: The inserted string
My first name is Divya. Last name is Shree

## Location and Counting

In [60]:
s.count('o')

3

In [61]:
s.find('o')

4

In [62]:
s.istitle()

False

In [63]:
s.isupper()

False

In [64]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [65]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [66]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing of lists works just like in Strings. Let's make a new list to remind ourselves of how this works:

In [67]:
my_list = ['one','two','three',4,5]

In [68]:
# Grab element at index 0
my_list[0]

'one'

In [69]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [70]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use "+" to concatenate lists, just like we did for Strings.

In [71]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This doesn't actually change the original list!

In [72]:
my_list

['one', 'two', 'three', 4, 5]

In this case, you have to reassign the list to make the permanent change.

In [73]:
# Reassign
my_list = my_list + ['add new item permanently']

In [74]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [75]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 'add new item permanently']

In [76]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

In [77]:
# Append
l=[1,2,3]
l.append('append me!')

In [78]:
# Show
l

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [79]:
# Pop off the 0 indexed item
l.pop(0)

1

In [80]:
# Show
l

[2, 3, 'append me!']

In [81]:
# Assign the popped element, remember default popped index is -1
popped_item = l.pop()

In [82]:
popped_item

'append me!'

In [83]:
# Show remaining list
l

[2, 3]

Note that lists indexing will return an error if there is no element at that index. For example:

In [84]:
l[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [85]:
new_list = ['a','e','x','b','c']

In [86]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [87]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [88]:
new_list

['c', 'b', 'x', 'e', 'a']

In [89]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [90]:
new_list

['a', 'b', 'c', 'e', 'x']

In [93]:
l = [1,2,3]

In [94]:
l.count(10)

0

In [95]:
l.count(2)

1

In [96]:
l.index(2)

1

In [98]:
l

[1, 2, 3]

In [99]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [100]:
l

[1, 2, 'inserted', 3]

In [101]:
ele = l.pop()

In [102]:
l

[1, 2, 'inserted']

In [103]:
ele

3

In [104]:
l

[1, 2, 'inserted']

In [105]:
l.remove('inserted')

In [106]:
l

[1, 2]

In [107]:
l = [1,2,3,4,3]

In [108]:
l.remove(3)

In [109]:
l

[1, 2, 4, 3]

In [110]:
l.reverse()

In [111]:
l

[3, 4, 2, 1]

In [112]:
l

[3, 4, 2, 1]

In [113]:
l.sort()

In [114]:
l

[1, 2, 3, 4]

In [115]:
x = ["a", "b", "c", "d"]
y = x + ["e", "f"]
print(x)
print(y)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e', 'f']

In [116]:
x = ["a", "b", "c", "d"]
print(x)
del(x[1])
print(x)

['a', 'b', 'c', 'd']
['a', 'c', 'd']

In [117]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Create areas_copy
areas_copy = list(areas)

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

## Loops

In [118]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4,9]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

('The sum is', 46)

In [120]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

#n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 4
('The sum is', 10)

In [121]:
print(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [124]:
print(list(range(2, 20, 5)))

[2, 7, 12, 17]

We can use the range() function in for loops to iterate through a sequence of numbers. It can be combined with the len() function to iterate though a sequence using indexing. Here is an example.

In [125]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz','sapna']

# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

('I like', 'pop')
('I like', 'rock')
('I like', 'jazz')
('I like', 'sapna')

## break and continue statement

In [126]:
# Use of break statement inside loop

for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [127]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [129]:
# Program to take the input string from the user.

name = raw_input("What is your name? ")
type(name)

What is your name? Divya

str

In [1]:
# Program to read integers from user

age = raw_input("What is your age? ")
print ("Your age is: ", age)
type(age)

What is your age? 20
('Your age is: ', '20')

str

In [3]:
# one more example

name = raw_input("What is your name? ")
print (" It was nice talking you " + name + "!")
age = raw_input("Enter your age? ")
print("Hey, you are already " + age + " years old, " + name + "!")

What is your name? Divya
 It was nice talking you Divya!
Enter your age? 20
Hey, you are already 20 years old, Divya!